<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>IFE2017 Js Task05</title>
		<style type="text/css">
			ul{
				list-style-type: none;
				padding: 0;
			}
			ul li{
				display: inline-block;
				width: 30px;
				background: red;
				color: #fff;
				margin-right: 10px;
			}
		</style>
	</head>
	<body>
		<input id="num" placeholder="输入一个10~100以内的数字" type="text" />
		<button id="left_in">左侧入</button>
		<button id="right_in">右侧入</button>
		<button id="left_out">左侧出</button>
		<button id="right_out">右侧出</button>
		<button id="sort">排序</button>
		
		<ul id="num_wrap"></ul>
		
		<script type="text/javascript">
			/*
			 *点击左侧入、右侧入分别从列表左右插入input中输入的数字 
			 * */
			var num=document.getElementById("num");
			var leftIn=document.getElementById("left_in");
			var rightIn=document.getElementById("right_in");
			var leftOut=document.getElementById("left_out");
			var rightOut=document.getElementById("right_out");
			var numList=document.getElementById("num_wrap");
			var sortBtn=document.getElementById("sort");
			
			
			function insertNum(){
				if(liList.length>59){
					alert("队列元素数量最多限制为60个")
				}else if(num.value==""||isNaN(num.value)){
					alert("请输入一个数字");
				}else if(num.value<=10||num.value>=100){
					alert("请输入一个10~100以内的数字");
				}else{
					var addLi=document.createElement('li');
					addLi.style.height=num.value+"px";
					numList.insertBefore(addLi,numList.firstChild);
					num.value="";
				};
				
			}
			function appendNum(){
				if(liList.length>59){
					alert("队列元素数量最多限制为60个")
				}else if(num.value==""||isNaN(num.value)){
					alert("请输入一个数字");
				}else if(num.value<=10||num.value>=100){
					alert("请输入一个10~100以内的数字");
				}else{
					var addLi=document.createElement('li');
//					addLi.innerHTML=num.value;
					addLi.style.height=num.value+"px";
					numList.appendChild(addLi);
					num.value="";
				};
				if(liList.length>60){
					alert("队列元素数量最多限制为60个")
				}
			}
			
			leftIn.addEventListener("click",insertNum);
			rightIn.addEventListener("click",appendNum);
			
			/*
			 *点击左侧出、右侧出分别读取并删除队列左右第一个元素，并弹窗显示元素中数值 
			 * */
			var liList=numList.getElementsByTagName("li");
			function removeLeft(){
//				var liNode=numList.querySelectorAll('li');
//				if(confirm("该值为"+numList.firstChild.innerHTML+"你确定要删除？")){
//					numList.firstChild.remove();
				//避免childNodes返回除节点以外其他的值，使用下面两行代码
				if(confirm("该值为"+liList[0].innerHTML+"你确定要删除？")){
					liList[0].remove();
				}else{
					alert("取消删除")
				}
			}
			function removeRight(){
//				if(confirm("该值为"+numList.lastChild.innerHTML+"你确定要删除？")){
//					numList.lastChild.remove();
				//避免childNodes返回除节点以外其他的值，使用下面两行代码	
				if(confirm("该值为"+liList[liList.length-1].innerHTML+"你确定要删除？")){
					liList[liList.length-1].remove();
				}else{
					alert("取消删除")
				}
			}
			leftOut.addEventListener("click",removeLeft);
			rightOut.addEventListener("click",removeRight);
			
			/*点击队列中任何一个元素，则该元素会被从队列中删除*/
			numList.addEventListener("click",function(e){
				if(event.target.nodeName.toLowerCase()=="li"){
//					console.log(event.target);
//					event.target.parentNode.removeChild(event.target);
					numList.removeChild(event.target);
				}
			})
			
			
			/*排序*/
			function mySort(){
				if(liList.length<=1){
					return liList;
				};
//				var myList=document.createDocumentFragment();
				var temp=[];
				for(var i=0;i<liList.length;i++){
					var m=liList[i].style.height;
					m=m.replace("px","");
					temp.push(m);
				}
				temp.sort(function(a,b){
					return a-b;
				});
				for(var n=0;n<temp.length;n++){
					liList[n].style.height=temp[n]+"px";
				}
				return liList;
			}
			
			sortBtn.addEventListener("click",mySort);
			
			
		</script>
	</body>
</html>
