<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ife2017-有趣的鼠标悬浮模糊效果</title>
		<link rel="stylesheet" type="text/css" href="../css/mouseOverBlur.css"/>
	</head>
	<body>
		<figure class="box">
			<figcaption class="caption">
				<div class="title">
					<h1 class="streamer slideIn">Welcome to see my test</h1>
					<a class="breathe slideIn" href="https://github.com/seven777777" target="_blank">点击进入</a>
				</div>
			</figcaption>
			<img class="bg" src="../images/2.jpg" />
		</figure>
	</body>
</html>
